//

%caret-down {
  background-color: white;

  border-style: solid;
  border-width: 1px;

  border-top-color: white;
  border-right-color: #999999;
  border-bottom-color: #999999;
  border-left-color: white;

  @include rotate(45deg);
}

%portfolio-icon {
  @extend %caret-down;

  position: absolute;

  width: 20px;
  height: 20px;

  left: 50%;
  top: 100%;
  margin-left: -10px;
  margin-top: -10px;
}

#portfolio-menu {
  padding-top: 50px;
  text-align: center;

  ul {
    border: 1px solid #999999;
    display: inline-block;
    margin-bottom: 40px;

    li {
      display: inline-block;

      padding: 0px 25px;
      cursor: pointer;
      font-size: 15px;
      line-height: 40px;
      font-weight: 600;
      color: #333333;
      text-transform: capitalize;
      position: relative;

      &:hover {
        .portfolio-icon {
          @extend %portfolio-icon;
        }
      }
    }
    li.active {
      color: #655e7a;
      .portfolio-icon {
        @extend %portfolio-icon;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #portfolio-menu {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 450px) {
  #portfolio-menu {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #portfolio-menu {
    padding-left: 0px;
    text-align: center;

    ul li {
      padding: 0 8px;
    }
  }
}
