
.thumbnail {
	display: flex;
	flex-direction: column;
	text-align: center;

	&__image {
		height: auto;
		// border: 1px solid red;
	}

	&__caption {
		text-align: center;
		padding: 10px;
		// border: 1px solid blue;
	}
}

.thumbnail__large { width: 100%; }
.thumbnail__small { width: 100px; }
