
.thumbnail {
	display: flex;
	flex-direction: column;
	text-align: center;

	&__image {
		// height: auto;
		border: 1px solid red;
	}

	.large { width: 100%; }
	.small { width: 100px; }

	&__caption {
		text-align: center;
		padding: 10px;
		border: 1px solid blue;
	}
}
