
/* ----------------------------------- */
/* _includes/about.html                */
/* ----------------------------------- */

#about {
  .block {
    h2 {
      padding-top: 35px;
      line-height: 27px;
			margin: 0;
			font-size: 30px;
    }
    p {
      color: #666;
      padding-top: 20px;
    }
    img {
			width: 100%;
			height: auto;
    }
	}
	
  .section-title {
    margin-bottom: 0px;
    p {
      padding-top: 20px;
    }
	}

	.about-image {
		padding: 20px 0;
	}
}
