/* ----------------------------------- */
/* _includes/article-page              */
/* ----------------------------------- */

#article-page {
  padding: 50px 0 40px;

  ul,
  ol {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 30px;
  }

  .article-image {
    width: 80vw;
  }
}
