/* ----------------------------------- */
/* _includes/blog-posts.html           */
/* _layouts/post.html                  */
/* ----------------------------------- */

#blog,
#post {
  padding: 50px 0 40px;
}

#blog,
#post {
  .post-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
	}
	.post-image-small {
    width: 75%;
    height: auto;
    margin-bottom: 30px;
	}

	.table-small {
		td, th {
			padding: 10px 20px;
			border: 1px solid black;
			text-align: center;
		}
		
	}

  .blog-icon {
    color: #333;
    width: 18px;
    height: 18px;
    position: relative;
    top: 4px;
    left: -2px;
  }

  .chevron-icon {
    color: white;
    width: 14px;
    height: 14px;

    position: relative;
    top: 3px;
    left: 5px;
  }

  .arrow-left-icon {
    color: #1f6bad;
    width: 16px;
    height: 16px;

    position: relative;
    top: 3px;
    left: -5px;
  }

  .arrow-right-icon {
    color: #1f6bad;
    width: 16px;
    height: 16px;

    position: relative;
    top: 3px;
    left: 5px;
  }
}

#blog {
  .pagination a,
  .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

  .pagination a {
    &:hover {
      background-color: #f1f1f1;
      color: #333;
    }
  }

  .pagination {
    text-align: center;
  }
}

#post {
  ul,
  ol {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 767px) {
  #post {
    padding: 20px 0 20px;
  }
}
