
/* ----------------------------------- */
/* _layouts/default.html               */
/* ----------------------------------- */

#header--my-brand {
  font-size: 26px;
  font-weight: 500;
  padding-top: 10px;
}

#header {
  background: #fff;
  padding: 20px 0;
  .navbar {
    margin-bottom: 0px;
    border: 0px;
  }
  .navbar-brand {
    padding-top: 5px;
  }
  .navbar-default {
    background: none;
    border: 0px;
    .navbar-nav li a {
      color: #333333;
      padding: 10px 26px;
      font-size: 15px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  #header .navbar-default .navbar-nav li a {
		padding: 10px 20px;
  }
}

@media only screen and (max-width: 900px) {
  #header .navbar-default .navbar-nav li a {
		padding: 10px 15px;
  }
}

@media only screen and (max-width: 767px) {
  #header .navbar-default .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

