
/* ----------------------------------- */
/* _includes/resume.html               */
/* ----------------------------------- */

	// a {
	// 	color: inherit;
	// 	text-decoration: none;
	// }
	
	// a:hover {
	// 	cursor: pointer;
	// 	color: #A0A0A9;
	// }

#resume-section {

	// * {
	// 	border: 1px solid red;
	// }

	width: 70%;
	margin: 0 auto;
	padding: 0;

	p {
		font-size: 14px;
		margin-left: 30px;
		margin-bottom: 15px;
		line-height: 25px;
	}

	h2 {
		color: $color-primary-background;
	}

	h3 {
		margin-top: 0;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 18px;
		color: $color-text-resume;
	}

	h4 {
		margin-top: 0;
		margin-bottom: 10px;
		font-weight: 600;
		font-size: 16px;
		color: $color-text-resume;
	}
	
	h5 {
		margin-top: 0;
		margin-bottom: 0;
		color: $color-text-resume;
		font-size: 14px;
	}

	.organization-group {
		display: flex;
		flex-direction: row;
		margin-top: 10px;

		.organization-image {
			padding: 18px;
			img {
				width: 72px;
				height: 72px;
			}
		}

		.organization {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;
		}
	}

	.skills {
		margin-top: 15px;
		margin-left: 30px;
		h4 {
			margin: 0;
			font-weight: 500;
			font-size: 14px;
		}
		p {margin: 5px 0 0 30px;}
		ul {margin: 10px 0 0 30px;}
	}

/* ----------------------------------- */
/* More button                         */
/* ----------------------------------- */

	.read-more-target {
		display: none;
	}

	.read-more-trigger {
		cursor: pointer;
		display: inline-block;
		padding: 0 .5em;
		color: $color-gray;
		font-size: .9em;
		line-height: 2;
		border: 1px solid $color-gray-border;
		border-radius: .25em;
	}

	.read-more-state {
		display: none;
		& ~ .read-more-trigger:before {
			content: 'Show more >';
		}

		&:checked {
			& ~ .read-more-trigger:before {
				content: '< Show less';
			}

			& ~ .read-more-wrap {
				margin: 0 0 10px;
				font-size: inherit;
				// max-height: 999em;
	
				.read-more-target {
					display: block;
				}
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	#resume-section {
		.organization-group {
			display: flex;
			flex-direction: column;
			margin-bottom: 25px;

			.organization-image {
				padding-left: 0;
			}
		}

		p {
			margin-left: 0;
		}

		.skills {
			margin-left: 0;
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 14px;
			}
			p {
				margin: 5px 0 0 15px;
			}
		}
	}
}
