
/* ----------------------------------- */
/* _layout/thanks.html      */
/* ----------------------------------- */

#thanks-section {
	text-align: center;

	.thanks-outer {
		max-width: 1000px;
		margin: 0 auto;
		padding-bottom: 50px;
	}

	.thanks-inner {
		padding-top: 75px;
		padding-bottom: 20px;
	}
}
