
/* ----------------------------------- */
/* _includes/contact/contact.html      */
/* ----------------------------------- */

#contact-section {
	.contact-outer {
		max-width: 1000px;
		margin: 0 auto;
		padding-bottom: 30px;
	}
}
