

.thumbnail {

	&__image {
		width: auto;
		height: 200px;
	}

	&__caption {

	}
}


/* ----------------------------------- */
/* Variables */
/* ----------------------------------- */

$color-white: #fff;
$color-black: #000;

$color-anchor: #1f6bad;

$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

/* ----------------------------------- */
/* Basic setup */
/* ----------------------------------- */

body {
  font-size: 14px;
  font-weight: 400;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
}

pre {
  tab-size: 2; /* Set tab size to 2 spaces */
  -moz-tab-size: 2;
}

input,
textarea,
select,
button {
  font-family: $font-family;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: $font-family;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
p {
  font-size: 15px;
  line-height: 28px;
}

a {
  color: $color-anchor;
}

a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
font header .navbar-default .navbar-nav li a:hover {
  color: $color-black;
}

ul {
  margin: 0;
  padding: 0;
}
